art~=5.3
colorama~=0.4.4
termcolor~=1.1.0
sympy~=1.8
pwinput~=1.0.2
prettytable~=2.2.1
pycryptodome~=3.11.0
pyperclip~=1.8.2
pip~=22.0.3
wheel~=0.37.1
cryptography~=35.0.0
lxml~=4.7.1
setuptools~=58.1.0
future~=0.18.2
xlwings~=0.26.3